<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                    
                  </div>
                  <div class="card-body">
                      <% if (auth) { %>
                        <div class="alert alert-success" role="alert">
                            [OTP] - Sucesso: Usuário Autenticado !!!   
                         </div> 
                      <% } else { %>
                        <div class="alert alert-danger" role="alert">
                            [OTP] - Usuário Não Autenticado!    
                         </div>                       
                      <% } %>
                      <form class="form-signin">    
                      <a href="/users" class="btn btn-sm btn-secondary text-uppercase" role="button">Voltar</a>
                      </form>
                  </div>
                </div> 
             </div> 
         </div>
    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
