<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="bg-dark">
  <div class="container">

    <div class="row">
        <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                   <!-- Background image for card set in CSS! -->
                </div>
                <div class="card-body">
                    <h4 class="card-title text-center">Claro OTP - Novo Usuário</h4>
                    <form class="form-signin" action="/users/add" method="post">
                      <div class="form-label-group">
                        <input type="text" id="inputUserame" name="inputUserame" class="form-control" placeholder="Username" required autofocus>
                        <label for="inputUserame">Username</label>
                      </div>
        
                      <div class="form-label-group">
                        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required>
                        <label for="inputEmail">Email address</label>
                        <!-- small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small -->
                      </div>
                      
                      <hr>
                      
                      <a href="/users" class="btn btn-sm btn-secondary text-uppercase" role="button">Voltar</a>    
                      <button class="btn btn-sm btn-primary text-uppercase" type="submit">Cadastrar</button>  
                      <!-- a class="d-block text-center mt-2 small" href="#">Sign In</a -->
                      <!-- hr class="my-4">
                      <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                      <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button -->
                    </form>
                  </div> <!-- card-body -->         
            </div>
        </div>  <!-- row end -->
    </div> <!-- row end -->
  </div> <!-- container end -->
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
