<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body class="bg-dark">
    <div class="container">
  
      <div class="row">
          <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row my-5">
                <div class="card-img-left d-none d-md-flex">
                    <!-- Background image for card set in CSS! -->
                </div>
                 
                <div class="card-body">                      
                      <% if( user && !user.secret_verified ) { %>
                        <h4 class="card-title text-center">Claro OTP - Ativar o 2o. Fator de Autenticação</h4>  
                      <div class="card-qr-code">                      
                        <img class="qr-code-img rounded" src="/otp/qr/?n=<%= user.name %>&m=<%= user.email %>"> 
                        <small class="form-text text-muted">Use o Google Autenticator ou FreeOTP para scaniar o QR-Code.</small -->                    
                      </div>                      
                      <%} else {%>  
                        <h4 class="card-title text-center">Claro OTP - Verifcar o 2o. Fator de Autenticação</h4>  
                                          
                        <p class="card-text text-center">Olá <%= user.name %> !</p>
                      <%}%>    
                      <br>
                      <form class="form-signin" action="/otp/qr/verify" method="post">
                        <div class="form-label-group">
                          <input type="text" id="inputOTPCode" name="inputOTPCode" class="form-control" placeholder="Entre com o Token" required autofocus>
                          <label for="inputOTPCode">Entre com o token</label>
                        </div>

                        <hr>
                        <a href="/users" class="btn btn-sm btn-secondary text-uppercase" role="button">Voltar</a>  
                        <button class="btn btn-sm btn-primary text-uppercase" type="submit">Verificar</button> 
                        <input type="hidden" id="username" name="username" value="<%= user.name %>"> 
                      </form>
                    </div> <!-- card-body -->         
              </div>
          </div>  <!-- row end -->
      </div> <!-- row end -->
    </div> <!-- container end -->
  </body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
<!-- ver tutotial : https://medium.com/createdd-notes/starting-with-authentication-a-tutorial-with-node-js-and-mongodb-25d524ca0359  -->
