<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body class="bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
              <div class="card card-signin flex-row my-5">
                <!-- div class="card-img-left d-none d-md-flex" -->
                   <!-- Background image for card set in CSS! -->
                <!-- /div -->
                <div class="card-body">
                  <h5 class="card-title text-center">Claro OTP - Cadastro de usuário</h5>
                  <form class="form-signin">
                    <div class="form-label-group">
                      <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
                      <label for="inputUserame">Username</label>
                    </div>
      
                    <div class="form-label-group">
                      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                      <label for="inputEmail">Email address</label>
                    </div>
                    
                    <hr>
      
                    <div class="form-label-group">
                      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                      <label for="inputPassword">Password</label>
                    </div>
                    
                    <div class="form-label-group">
                      <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" required>
                      <label for="inputConfirmPassword">Confirm password</label>
                    </div>
      
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                    <a class="d-block text-center mt-2 small" href="#">Sign In</a>
                    <!-- hr class="my-4">
                    <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign up with Google</button>
                    <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign up with Facebook</button -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>