<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>User list</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">

                  </div>
                  <div class="card-body">
                      <h4 class="card-title text-center"> Claro OTP - Lista de Usuários</h4>  

                      <% if (userlist.length == 0){ %>
                        <div class="alert alert-warning" role="alert">
                           Não existem usuários cadastrados!   
                        </div> 
                      <%} else { %>  
                        <ul class="list-group">
                            <% userlist.forEach(function(user){ 
                              console.log('user.id: ' + user.id);
                            %>
                            <li class="list-group-item">
                            <div class="d-flex flex-row">
                              <div class="p-2"><spam class="text-capitalize" ><%=user.name %></spam></div>
                              <% if ( !user.secret_verified ) { %>
                                <div class="p-2"> 
                                  <a class="btn btn-sm btn-outline-primary" href="/otp/?usr=<%= user.name %>" role="button" >Ativar 2FA</a> 
                                </div>  
                              <%} else {%>
                              <div class="p-2"> 
                               <a class="btn btn-sm btn-outline-success" href="/otp/use/?usr=<%= user.name %>" role="button">Usar 2FA</a>
                              </div>
                              <%}%>   
                            </div>
                            </li>
                            <%})%>
                        </ul>
                      <%}%>
                      <br/>
                      <div class="form-signin">
                           <a href="/users/new" class="btn btn-sm btn-primary text-uppercase" role="button">Novo Usuário</a>
                      </div>
                    </div>
                 </div>
             </div> 
        </div> 

    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
